body {
    background: rgb(0,150,136);
}

.col-4, .col-8 {
    height: 95vh;
}

.headerTextUsers, .boxNotification {
    height: 4em;
}

.search .fa-solid {
    left: 5% !important ;
}

.imgContacts {
    width: 3rem;
    height: 3rem;
}

.imgContacts img {
    border-radius: 50%;
} 

.rigthUsers * {
    margin: 0.3rem;
}

.imgPersonal {
    width: 3rem;
    height: 3rem;
}

.imgPersonal img {
    border-radius: 50%;
}