body {
background: linear-gradient(to bottom,  #009688 20%,#dbdbd2 20%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
height: 100vh;
overflow-y: hidden;
}

.col-5, .col-7 {
    height: 95vh;
    padding: 0 !important;
}

.headerTextUsers {
    height: 4em;
    background-color: #eaeaea;
}

.boxNotification {
    height: 4em;
    background-color: #8edafc;
}

.search .fa-solid {
    left: 5% !important ;
}

.imgContacts, .imgPersonal, .messagesIcon{
    width: 3rem;
    height: 3rem;
}

.textContacs {
    width: 90%;
}

.imgContacts img, .imgPersonal img, .messagesIcon img {
    border-radius: 50%;
} 

.underline {
    text-decoration: underline;
}

.rigthUsers * {
    padding: 0.5rem;
}

.iconBell {
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
}

.search > input {
    border: 0.5px solid lightgray;
    padding: 0.5rem;
    outline: none;
}

.userBox {
    overflow-y: auto;
    height: calc(100% - 8em);
}

.userContacs:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.headerMessages {
    height: 4em;
    background-color: #eaeaea;
    border-left: 0.1px solid lightgrey;
}

.messagesRigth * {
    padding: 0.5rem;
}

.messagesArea {
    height: calc(100% - 8em);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.messagesFooter {
    height: 4em;
    background-color: #f3eeea;
}

.messageSend {
    background-color: #d5f9ba;
    border-radius: 5px;
    padding: 5px;
    margin-right: 50px !important;
    margin-top: 10px !important;
    word-wrap: break-word !important;
    width: 350px;  
    margin: 3px;
    align-self: end;
}

.messageReceived {
    background-color: white;
    border-radius: 5px;
    margin-top: 10px !important;
    margin-left: 50px !important;
    padding: 5px;
    width: 300px;
    word-wrap: break-word !important;
    margin: 3px;
}

.dateMessage {
    font-size: 0.6rem;
    text-align: end;
    color:grey;
}

.dateMessage span i {
    font-size: 20px;
    padding: 5px;
}

.dateMessage span i:hover {
    cursor: pointer;
}

.dateMessage span ul:hover {
    cursor: pointer;
}

.textFooter {
    width: 80%;
}

.textFooter > input {
    width: 100%;
    border: none;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.iconFoot {
    display: flex;
    justify-content: space-between;
    width: 5em;
    align-items: center;
}

.iconFoot > button {
    border: 1px solid gray;
    border-radius: 5px;
}