<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="container mt-3">
            <div class="row">
                <!-- parte di sinistra con nomi Users -->
                <div class="col-5 bg-white">
                    <div class="headerTextUsers d-flex justify-content-between align-items-center">
                        <div class="leftUsers d-flex align-items-center px-2">
                            <div class="imgPersonal pe-2">
                                <img class="img-fluid" src="./img/avatar_io.jpg" alt="">
                            </div>
                            <span>Sofia</span>
                        </div>
                        <div class="rigthUsers pe-2 text-secondary">
                            <i class="fa-solid fa-spinner"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <div class="boxNotification d-flex pt-2">
                        <div class="notificationLeft px-2 d-flex align-items-center">
                            <span class="iconBell p-2">
                                <i class="fa-regular fa-bell-slash"></i>
                            </span>
                        </div>
                        <div class="notificationRight d-flex flex-column">
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <span class="underline text-secondary">Attiva notifiche desktop</span>
                        </div>
                    </div>

                    <div>
                        <div class="search position-relative">
                            <input v-model="searchContact" class="w-100 px-5" type="text"
                                placeholder="Cerca o inizia una nuova chat" @input="findUser">
                            <i
                                class="fa-solid fa-magnifying-glass position-absolute top-50 start-0 translate-middle-y"></i>
                        </div>
                        <div class="userBox">
                            <div v-for="(utenti, i) in findUser()" @click="showConversation(utenti)"
                                class="userContacs d-flex m-2 my-3">
                                <div class="imgContacts">
                                    <img class="img-fluid" :src="utenti.avatar" alt="">
                                </div>
                                <div class="textContacs d-flex flex-column px-2">
                                    <span>{{utenti.name}}</span>
                                    <span class="text-secondary">Ultimo messaggio inviato</span>
                                </div>
                                <div class="date text-secondary">
                                    <span>10.00</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- parte di destra con messaggistica -->
                <div class="col-7">

                    <div class="headerMessages d-flex justify-content-between align-items-center">
                        <div v-if="selectedContact" class="messagesLeft d-flex align-items-center">
                            <div class="messagesIcon ms-2">
                                <img class="img-fluid" :src="selectedContact.avatar" alt="">
                            </div>
                            <div class="messagesText d-flex flex-column">
                                <span>{{selectedContact.name}}</span>
                                <span class="text-secondary">Ultimo accesso oggi alle 12.00</span>
                            </div>
                        </div>
                        <div class="messagesRigth pe-2 text-secondary">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <div class="messagesArea">
                        <div v-if="selectedContact" class="textArea d-flex flex-column">
                            <div v-for="messaggio in selectedContact.messages" :class="getClass(messaggio)">
                                {{messaggio.message}}
                                <div class="dateMessage">{{messaggio.date}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="messagesFooter d-flex align-items-center justify-content-between px-3">
                        <div class="iconFooter">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="textFooter">
                            <input @keyUp.enter="newMessageSent()" v-model="inputMessage" type="text"
                                placeholder="Scrivi un messaggio">
                        </div>
                        <div class="iconFoot">
                            <button @click="newMessageSent()">
                                <i class="fa-solid fa-greater-than"></i>
                            </button>
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>